<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>My bus</title>
    <!-- MDB icon -->

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <!-- Start your project here-->
    <!-- Pills navs -->
    <h1 class="text-center">My Transpo</h1>
    <nav class="d-flex justify-content-center">
        <ul class="nav nav-pills nav-fill mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active m-3" id="ex2-tab-1" data-mdb-toggle="pill" href="/" role="tab"
                    aria-controls="ex2-pills-1" aria-selected="true">Home</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link active m-3" id="ex2-tab-1" data-mdb-toggle="pill" href="/login" role="tab"
                    aria-controls="ex2-pills-1" aria-selected="true">Login</a>
            </li>
        </ul>
    </nav>


    <div class="d-flex align-items-center flex-column">

        <div class="card border" style="width: 22rem;">

            <div class="container d-flex justify-content-center">

                <img src="#" alt="weatherIcon" id="weatherIcon" class="card-img-top">
                <div class="card-body">

                    <br>
                    <span id="weatherText" class="card-text"></span>
                    <br>
                    <span id="weatherTemp" class="card-text"></span>
                    <br>
                    <span id="weatherLocation" class="card-text"></span>
                </div>

            </div>
        </div>

        <div>
            <p class="text-center">Track your MBTA transportation LIVE!</p>
            <p class="text-center">Create an <a href="/signup">account</a> for free and track your public transportation</p>
        </div>
    </div>


    <!-- MDB -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- Custom scripts -->
    <script src="weather.js"></script>
</body>

</html>