<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GG Chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>

<body>
    <section class="m-5">

        <div class="d-flex justify-content-center">
    
            <div class="container border" style="width: 22rem;">
    
                <div class="container d-flex justify-content-center">
    
                    <img src="#" alt="weatherIcon" id="weatherIcon" class="card-img-top">
                    <div class="card-body">
    
                        <br>
                        <span id="weatherText" class="card-text"></span>
                        <br>
                        <span id="weatherTemp" class="card-text"></span>
                        <br>
                        <span id="weatherLocation" class="card-text"></span>
                    </div>
    
                </div>
            </div>
    
    
        </div>
        <div class="container d-flex  justify-content-center">
            <div class="d-flex justify-content-around" style="width: 22rem;">
    
                <a href="/route/CR-Worcester" class="btn btn-primary m-2">Route 1</a>
                <a href="/routetwo" class="btn btn-primary m-2">Route 2</a>
                <a href="/routethree" class="btn btn-primary m-2">Route 3</a>
            </div>
            <div class="d-flex justify-content-center">
    
                <a href="logout" class="btn btn-secondary m-2">Logout</a>
            </div>
    
        </div>
    </section>



    <script src="weather.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>