<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <nav class="navbar  d-flex justify-content-center p-3" role="navigation">
        <ul class="d-flex flex-row justify-content-around p-0">
            <li>
                <a href="/profile" class="m-1"><i class="fas fa-home nav-link"></i></a>
            </li>
        
            <li>
                <a href="/logout" class="m-1"><i class="fas fa-sign-out-alt nav-link"></i></a>
            </li>
        </ul>
    </nav>
    
    <section>
        <div class="d-flex justify-content-center">
            <!-- weather app -->
            <div class="container card weather mt-3" style="width: 22rem;">

                <div class="container d-flex justify-content-center">

                    <img src="#" alt="weatherIcon" id="weatherIcon" class="card-img-top">
                    <div class="d-flex flex-column">

                        <br>
                        <span id="weatherText" class="card-text"></span>
                        <br>
                        <span id="weatherTemp" class="card-text"></span>
                        <br>
                        <span id="weatherLocation" class="card-text"></span>
                    </div>

                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-2 vehicles">
            <a class="btn btn-outline-light btn-lg m-1" href="/subway">Subway</a>
            <a class="btn btn-outline-light btn-lg m-1" href="/commuterRail">Commuter Rail</a>
            <a class="btn btn-outline-light btn-lg m-1" href="/bus">Bus</a>
        </div>
        <div class="d-flex justify-content-center">
            <div class=" d-flex flex-column">
                <h1 class="display-4 text-center">Favorite Routes</h1>
                <div class="d-flex justify-content-center p-3 card fav">

                    <ul class="fav-ul d-flex justify-content-around flex-column fav-box">
                        <%for (let route of favorites) { %>
                            <li class="fav-list">
                                <a href="/route/<%=route%>" type="button" class="btn btn-outline-light btn-lg m-1">
                                    <%=route%>
                                </a>
                                <% if(favorites.includes(route)) {%>
                                    <i class="fas fa-heart heart"></i>
                                    <%} else{%>
                                        <i class="far fa-heart unHeart"></i>
                                        <%}%>
                            </li>
                            <% } %>
                    </ul>
                </div>

            </div>
        </div>
    </section>


    <script src="main.js"></script>
    <script src="weather.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


</body>

</html>