<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Route 1</title>
   
 
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />


    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100%;
            height: 60vh;
        }
    </style>
</head>

<body>
    <!-- Start your project here-->
    <!-- Pills navs -->
    <nav class="container">
        <ul class="nav nav-pills nav-fill mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="ex2-tab-1" data-mdb-toggle="pill" href="#ex2-pills-1" role="tab"
                    aria-controls="ex2-pills-1" aria-selected="true">Home</a>
            </li>

            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex2-tab-3" data-mdb-toggle="pill" href="#ex2-pills-3" role="tab"
                    aria-controls="ex2-pills-3" aria-selected="false">All Busses</a>
            </li>


        </ul>
        <!-- Pills navs -->

    </nav>

    <!-- Pills content -->
    <div class="d-flex justify-content-center">
        <div id="map" class="w-75">

        </div>
    </div>
    <div class="tab-pane fade" id="ex2-pills-3" role="tabpanel" aria-labelledby="ex2-tab-3">
        <div class="container d-flex justify-content-center">
            <div class="row container col-sm-4">
                <a href="/route/CR-Worcester" type="button" class="btn btn-primary p-3 m-1">Worcester Commuter Rail</a>
                <a href="/route/CR-Franklin" type="button" class="btn btn-primary p-3 m-1">Franklin Commuter Rail</a>
                <a href="/route/CR-Fitchburg" type="button" class="btn btn-primary p-3 m-1">Fitchburg Commuter Rail</a>
                <a href="/logout" type="button" class="btn btn-danger p-3 m-1">Logout</a>
            </div>

        </div>
    </div>
    </div>
    <!-- Pills content -->

    <!-- MDB -->
   
    <!-- Custom scripts -->

    <script>
        // Map initialization 
        const map = L.map('map').setView([42.407211, -71.382439], 9);

        const userIcon = L.icon({
            iconUrl: '/img/user.png',
            iconSize: [25, 25],
            iconAnchor: [12.5, 12.5],
        });

        const busIcon = L.icon({
            iconUrl: '/img/bus.png',
            iconSize: [25, 25],
            iconAnchor: [12.5, 12.5],
        });

        const tiles = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoibWFydGVjb2RlcyIsImEiOiJja3ZwZG0zeDRlZ3lsMnptbjhiZ3NrbTFtIn0.vXc_RJA_QcE0YbvvDc28tA'
        }).addTo(map);

        // if (!navigator.geolocation) {
        //         console.log("Your browser doesn't support geolocation feature!")
        //     } else {
        //         setInterval(() => {
        //             navigator.geolocation.getCurrentPosition(getPosition)
        //         }, 3000);
        //     }

        let marker, circle, bus;


        function getPosition(position) {
            // console.log(position)
            let lat = position.coords.latitude
            let long = position.coords.longitude
            let accuracy = position.coords.accuracy

            if (marker) {
                map.removeLayer(marker)
            }


            if (circle) {
                map.removeLayer(circle)
            }

            marker = L.marker([lat, long], { icon: userIcon })
            circle = L.circle([lat, long], { radius: accuracy })


            let featureGroup = L.featureGroup([marker, circle, bus]).addTo(map)

            map.fitBounds(featureGroup.getBounds())

            console.log("Your coordinate is: Lat: " + lat + " Long: " + long + " Accuracy: " + accuracy)
        }

        function showVehicles(routeid) {
            console.log(routeid);
            fetch(`/vehicles/${routeid}`)
                .then(res => res.json())
                .then(data => {

                    const vehicles = []
                    for (let i = 0; i < data.data.length; i++) {
                        vehicles.push(L.marker([data.data[i].attributes.latitude, data.data[i].attributes.longitude], { icon: busIcon }))
                    }

                    let featureGroup = L.featureGroup(vehicles).addTo(map)
                    map.fitBounds(featureGroup.getBounds())
                    console.log(data.data);
                })
        }

        setInterval(() => {
            showVehicles('<%= routeid %>')
        }, 3000);

    </script>
</body>

</html>