<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Route 1</title>
    <!-- MDB icon -->
    <link rel="icon" href="mdb-favicon.ico" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="mdb.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100%;
            height: 60vh;
        }
    </style>
</head>

<body>
    <!-- Start your project here-->
    <!-- Pills navs -->
    <nav class="container">
        <ul class="nav nav-pills nav-fill mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="ex2-tab-1" data-mdb-toggle="pill" href="#ex2-pills-1" role="tab"
                    aria-controls="ex2-pills-1" aria-selected="true">Home</a>
            </li>
            
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex2-tab-3" data-mdb-toggle="pill" href="#ex2-pills-3" role="tab"
                    aria-controls="ex2-pills-3" aria-selected="false">All Busses</a>
            </li>
            

        </ul>
        <!-- Pills navs -->

    </nav>

    <!-- Pills content -->
    <div class="d-flex justify-content-center">
        <div id="map" class="w-75">
    
        </div>
    </div>


       

        <div class="tab-pane fade" id="ex2-pills-3" role="tabpanel" aria-labelledby="ex2-tab-3">
            <div class="container d-flex justify-content-center">
                <div class="row container col-sm-4">
                    <a href="/routeone" type="button" class="btn btn-primary p-3 m-1">Route 1</a>
                    <a href="/routetwo" type="button" class="btn btn-primary p-3 m-1">Route 2</a>
                    <a href="/routethree" type="button" class="btn btn-primary p-3 m-1">Route 3</a>
                    <a href="/logout" type="button" class="btn btn-danger p-3 m-1">Logout</a>
                </div>

            </div>
        </div>
    </div>
    <!-- Pills content -->

    <!-- MDB -->
    <script type="text/javascript" src="mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
    <script src="weather.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        // Map initialization 
        var map = L.map('map').setView([43.407211, 	-71.382439], 9);

        //osm layer
        var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        });
        osm.addTo(map);

        if (!navigator.geolocation) {
                console.log("Your browser doesn't support geolocation feature!")
            } else {
                setInterval(() => {
                    navigator.geolocation.getCurrentPosition(getPosition)
                }, 1000);
            }

        var marker, circle;

        function getPosition(position) {
            // console.log(position)
            var lat = position.coords.latitude
            var long = position.coords.longitude
            var accuracy = position.coords.accuracy

            if (marker) {
                map.removeLayer(marker)
            }

            if (circle) {
                map.removeLayer(circle)
            }

            marker = L.marker([lat, long])
            circle = L.circle([lat, long], { radius: accuracy })

            var featureGroup = L.featureGroup([marker, circle]).addTo(map)

            map.fitBounds(featureGroup.getBounds())

            console.log("Your coordinate is: Lat: " + lat + " Long: " + long + " Accuracy: " + accuracy)
        }

    </script>
</body>

</html>
