@import url('https://fonts.googleapis.com/css2?family=Petemoss&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');



.homepage{
    background-image: url('./img/homepage.jpg');
    background-size: fit;
    background-repeat:repeat;
}

.profilepage{
    background-image: url('./img/profilepage.jpg');
    background-size: cover;
    background-repeat:repeat;
}


.routesCard{
    background: rgba(255, 255, 255, 0.445);
}

h2{
    color: black;
}


i:hover{
   transform: scale(1.5);
}

.login-links{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.loginCard p, .loginCard label{
    color: black;
    font-weight: bold;
}

.loginImg{
    width: 50%;
}

.btn{
    background: black;
    color: white;
}

.loginCard{
    background: rgba(85, 83, 83, 0.52);
    border-style: none;
}

ul{
    list-style: none;
}

.transpo{
    font-family: 'Petemoss', cursive;
    font-weight: bold;
    font-size: 800%;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}

.welcome-text{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.heart{
    color: red;
}


i{
    cursor: pointer;
}


.vehicles a{
    background: rgb(0, 0, 0);
    border-radius: 5%;
    border-style: none;
    color: white;
}

.vehicles a:hover{
    transform: scale(1.06);
    background: black;
    color: white;
}


.hidden{
    display: none;
}


.busIcons{
    height: 50px;
}

.indexBusIcons{
    height: 50px;
    width: 50px;
}

#busIconAnimation{
    animation: move 10s infinite;
    position: relative;
}
@keyframes move {
    0%   {left:0px; }
    100% {left:90%; }
}

#busIconAnimationOutbound{
    animation: moveout 10s infinite;
    position: relative;
}
@keyframes moveout {
    0%   {right:0px; }
    100% {right:90%; }
}
