.btn-outline-primary:hover{
    background: rgb(63, 152, 248);
}

ul{
    list-style: none;
}

.heart{
    color: red;
}

.button-custom{
    background-origin: 3%;
    margin: 1%;
    border-radius: 4%;
}